*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    background-color: transparent;
    color: #F5F5F5;
    margin: 10px;
    padding: 1em 2em;
    border-radius: 10px;
    border: solid 5px #F5F5F5;
    text-transform: uppercase;
    font-weight: 600;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
button:hover{
   transform: translateY(-5px);
   color: transparent;
   background-color: #F5F5F5;
   color: #1F1F1f;
   border: solid 5px #F5F5F5;
}
header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(159Z_2107.w026.n002.628B.p1.628.jpg);
    background-size: cover;

}
nav{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: brightness(100%);
}
.logo{
    font-size:2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 125rem;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.container .text{
    margin-bottom: 2rem;
}
.container span{
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
}
.container h1{
    font-size: 3.5em;
    font-family: 'Raleway', sans-serif;
}

